@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .specified-container-element {
    display: flex;
    align-items: center;
    /* background-color: red;
    border-color: yellow;
    border-width: 12px; */
    padding-top: 12px;
  }
  .error-position-onscreen {
    display: flex;
    align-items: center;
    
  }
}