.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../public/contactgradient.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.body_container {
  margin: 0 auto;
  min-width: 180px;
}

@media screen and (min-width: 471px) {
  .form {
    background: white;
    padding: 2rem 1.5rem;
    border-radius: 6px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%;
  }
}

@media screen and (max-width: 470px) {
  .form {
    background: white;
    padding: 2rem 1.5rem;
    border-radius: 6px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
  }
}

.form label {
  display: block;
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  color: #334155;
}

.form input,
.form select,
.form textarea {
  width: 100%;
  border: none;
  background: #f4f4f5;
  padding: 0.75rem 0.5rem;
  font-size: 1rem;
  margin-bottom: 1.25rem;
  border-radius: 4px;
}
.form input:focus,
.form select:focus,
.form textarea:focus {
  outline: 2px solid #0093e9;
}
.inputs {
  display: flex;
  justify-content: space-between;
}
.inputs div {
  flex: 1;
}
.inputs div:first-child {
  margin-right: 1rem;
}
.btn {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  padding: 0.5rem 1rem;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.header {
  text-align: left;
  font-family: sans-serif;
  white-space: nowrap;
  background-image: url(../public/layered.svg);
  height: 85vh;
  background-size: cover;
}

@media only screen and (max-width: 470px) {
  .header {
    text-align: left;
    font-family: sans-serif;
    white-space: nowrap;
    background-image: url(../public/layered.svg);
    height: 20vh;
    background-size: cover;
  }
}

@media only screen and (min-width: 1440px) {
  .header {
    text-align: left;
    font-family: sans-serif;
    white-space: nowrap;
    background-image: url(../public/layered.svg);
    height: 55vh;
    background-size: cover;
  }
}

.header_title { 
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 800;
  letter-spacing: -0.025em;
  --tw-text-opacity: 1;
  color: rgba(17, 24, 39, var(--tw-text-opacity));
}

@media only screen and (max-width: 470px) {
  .header_title {
    font-size: 1.25rem;
    line-height: 2.5rem;
    font-weight: 800;
    letter-spacing: -0.025em;
    --tw-text-opacity: 1;
    color: rgba(17, 24, 39, var(--tw-text-opacity));
  }
}

@media screen and (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.stats {
  position: relative;
  background-image: url(../public/gradient.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 470px) {
  .stats {
    position: relative;
    background-image: url(../public/gradient.svg);
    background-repeat: no-repeat;
    height: 110vh;
    background-size: cover;
  }
}

@media only screen and (min-width: 1440px) {
  .stats {
    position: relative;
    background-image: url(../public/gradient.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
  }
}